body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f9fa;
}

main {
    position: relative;
    z-index: 1;
    background: url('/templates/img/igralnye-kosti.png');
    background-size: cover;
}

main:after {
    position: absolute;
    z-index: 2;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background: linear-gradient(to top left, rgba(30, 90, 165, 0.3), rgba(109, 14, 88, 0.3));
}

.main-slide {
    height: 350px;
}

.left-main-block {
    z-index: 3;  
    color: #FCF8FF;
}

.right-main-block {
    z-index: 3;
    color: #FCF8FF;
}

.create-room {
    background-color: #40AA29;
    color: white;
}

.title-slide-section {
    color: white;
}

.footer-block {
    color:white;
    font-size: 13px;
}

.fa-github {
    font-size: 18px;
}

.btn-primary {
    background: #f8f9fa;
    color: #40AA29;
    border: 1px solid #40AA29;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #f8f9fa;
    background: #40AA29;
    border: 1px solid #40AA29;
}

#warning {
    display: none;
    color: red;
}

.name-room {
    font-size: 18px;
    font-weight: bold;
}

.results-voting, tr, td {
    font-size: 12px; 
    color: white;
}

tr, td {
    border: 1px solid black;
    padding: 3px 10px 3px 10px;
}

.name-left-menu {
    background-color: #6a155d;
    color: white;
}

.name-right-menu {
    background-color: #4d387e;
    color: white;
}

.name-left-menu, .name-results-menu, .name-right-menu {
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}

.left-menu-room {
    font-size: 12px;
    box-shadow: 20px 0px 20px rgba(0,0,0,0.25);
}

.right-menu-room {
    list-style-type: none;
    box-shadow: -20px 0px 20px rgba(0,0,0,0.25);
}

.right-menu-room ul {
    padding: 0;
}

.right-menu-room li {
    font-size: 12px;
    list-style-type: none;
    padding: 3px;
}

.footer-container-results {
    margin-top: 20px; 
    background: linear-gradient(to top left, #1e5aa5, #6d0e58);
    box-shadow: 0 -8px 15px rgba(0,0,0,0.35);
    padding-top: 20px;
    padding-bottom: 20px;
}

.task-room {
    margin-bottom: 5px;
    display: inline-block;
    width: 80%;
}

#tb-results {
    width: 100%;
}

.user-name-text-right-menu {
    margin-left: 15px;
}

.is-current-active-1 {
    color: white;
    background-color: #40AA29;
    padding: 3px;
}

.time-task-discussion {
    display: inline-block;
    width: 20%;
}

.current-median {
    display: inline-block;
    width: 80%;
}

.button-room {
    background-color: white;
    border-radius: 10px;
    border: none;
    margin-top: 8px;
    box-shadow: -10px 0px 20px rgba(0,0,0,0.25);
    outline: none !important;

}

.button-room:active, 
.button-room:focus {
    outline: none !important;
}

.preloader-room {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
}

.start-voting-btn {
    background-color: #b3b3b3;
    border-radius: 3px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.finish-voting-btn {
    background-color: #b3b3b3;
    border-radius: 3px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.finish-planning-btn {
    border: none;
    background-color: #4f357c;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.name-left-menu span {
    display: inline-block;
    width: 90%
}

.name-left-menu  i {
    display: inline-block;
    width: 10%
}

.name-right-menu span {
    display: inline-block;
    width: 90%
}

.name-right-menu  i {
    display: inline-block;
    width: 10%
}

.how-it-works {
    color: white;
    
}

.buttom-block {
    background: linear-gradient(to top left, #1e5aa5, #6d0e58);
}

.enter-room {
    padding: 0px !important;
    position: relative;
    z-index: 1;
    background-image: url(/templates/img/rooms-backgrounds.png);
    background-size: cover;
    padding-bottom: 30%;
}

.enter-room:after  {
    z-index: 2;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(to top left, rgba(30, 90, 165, 0.9), rgba(58, 12, 48, 0.9));
    background-size: cover;
}

.enter-the-room h1 {
    position: relative;
    color: white;
    z-index: 3;
    top: 150;
}

.enter-the-room h3 a {
    color: white;
    z-index: 3;
    position: relative;
    top: 170;
    text-decoration: underline;
}

.enter-text-room {
    position: relative;
}

.forgot-pass {
    display: block;
}

.login-form {
    background-color: #f1f1f1;
   
}

.login-form .login {
    border: none !important;
}

.link-git {
    color: white !important;
}

.link-email {
    color: white !important;
}

#push-tasks {
    background-color: #6d0e58;
    border: none;
    color: white;
}

#add-new-task {
    color: #f8f9fa;
    background: #40AA29;
    border: 1px solid #40AA29;
}

#email-restore, #pass-restore{
    width: 60%;
    display: block;
    margin: 0 auto;
}

.second-show{
    font-size: 24px;
    color: #6d0e58;
    font-weight: 600;
}

.notification-email, .notification-pass, .notification-username {
    color: red;
    display: none;
}

.error-data-new-room {
    display: none;
    color: red;
}