<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/628e323caf.js"></script>
    <link rel="stylesheet" href="templates/css/main.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <title>Planning poker | Main</title>
</head>

<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="/">
                            <img src="../templates/img/icon.png" width="30" height="30" alt="">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link scrollto" href="#How-it-works">How it works?</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link scrollto" href="#Contacts">Contacts</a>
                                </li>
                            </ul>
                            <form class="form-inline">
                                <button id="signUp" class="btn btn-outline-success" type="button">Sign Up</button>
                                <button id="signIn" class="btn btn-sm align-middle btn-outline-secondary"
                                    type="button">Sign In</button>
                            </form>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center main-slide">
                <div class="col-lg-6 left-main-block">
                    <h1 class="title-site">Planning poker</h1>
                    <h2 class="subtitile-site">Plan and play! <img src="../templates/img/icon-white.png" width="60"
                            height="60" alt=""></h2>
                    <p class="description-main">Open service for planning scrum sprints</p>
                </div>
                <div class="col-lg-5 justify-content-center right-main-block">
                    <div class="controls-block text-center">
                        <p class="prompt-click">Let's start!<br>To start, just click on the button</p>
                        <button id="createNewRoomButton" class="create-room btn btn-default btn-lg">Create new
                            room</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="buttom-radius"></div>
    <article>
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-12 mt-3">
                    <h3 class="title-slide-article text-center">What is Planning Poker?</h3>
                </div>
                <div class="col-lg-5 text-center left-article-block">
                    <img src="../templates/img/meetup.png" alt="" class="article-img">
                </div>
                <div class="col-lg-6 text-center right-article-block">
                    <p class="article">
                        <i><b>Planning poker</b></i> is a problem assessment technique based on team discussion of each
                        problem. Each participant anonymously evaluates the problem by voting with a scorecard. Then the
                        cards are revealed and the median for each problem is calculated.
                    </p>
                </div>
            </div>
        </div>
    </article>
    <section class="buttom-block">
        <div class="container-fluid ">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-12 mt-3">
                    <a id="How-it-works"></a>
                    <h3 class="title-slide-section text-center">How it works?</h3>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center how-it-works">
                <div class="col-lg-5 left-article-block text-left">
                    <p>
                        1. Register or login and click the button create a room.
                    </p>
                    <p>
                        2. Fill out the form. Come up with a name for the meeting, and plan tasks that will be evaluated
                        by your team members.
                    </p>
                    <p>
                        3. Share the link to the room invitations to your team and play planning poker while evaluating
                        tasks.
                    </p>
                </div>
                <div class="col-lg-5 right-article-block text-center">
                    <img src="../templates/img/planning-poker.png" width="400" alt="" class="article-img">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center footer-block">
                    <a id="Contacts"></a>
                    <p>Design and development by Roman Solovyev © | <a class="link-email"
                            href="mailto:romaphilomela@yandex.ru">romaphilomela@yandex.ru</a> |<a class="link-git"
                            href="https://github.com/philomela/PlanningPoker">GitHub <i class="fa fa-github"
                                aria-hidden="true"></i></a> </p>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="templates/js/index.js"></script>

</body>

</html>