<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="templates/css/main.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="templates/font-awesome-4.7.0/css/font-awesome.min.css">
    <title>Sign In</title>
</head>

<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="#">
                            <img src="../templates/img/icon.png" width="30" height="30" alt="">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Dropdown
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="#">Disabled</a>
                                </li>
                            </ul>
                            <form class="form-inline">
                                <button id="signUp" class="btn btn-outline-success" type="button">Sign Up</button>
                            </form>
                        </div>
                    </nav>

                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center name-meeting">
                <h1 class="name-room"></h1>
            </div>
            <div class="col-lg-4 justify-content-left left-menu-room">
                <h3 class="name-left-menu text-center"><span>Tasks list</span><i class="fa fa-thumb-tack" aria-hidden="true"></i></h3>
                <div class="tasks-left-menu-room"></div>
                <div class="creator-tools">{{ .CreatorTools}}</div>

            </div>
            <div class="col-lg-6 text-center main-room">
                <!-- <canvas id="canv"></canvas> -->
                <button id="btn-1" class="button-room"><img id="btn-1" src="/templates/img/voice-1.png" alt=""
                        width="100"></button>
                <button id="btn-2" class="button-room"><img id="btn-2" src="/templates/img/voice-2.png" alt=""
                        width="100"></button>
                <button id="btn-3" class="button-room"><img id="btn-3" src="/templates/img/voice-3.png" alt=""
                        width="100"></button>
                <button id="btn-5" class="button-room"><img id="btn-5" src="/templates/img/voice-5.png" alt=""
                        width="100"></button>
                <button id="btn-8" class="button-room"><img id="btn-8" src="/templates/img/voice-8.png" alt=""
                        width="100"></button>
                <button id="btn-13" class="button-room"><img id="btn-13" src="/templates/img/voice-13.png" alt=""
                        width="100"></button>
                <button id="btn-20" class="button-room"><img id="btn-20" src="/templates/img/voice-20.png" alt=""
                        width="100"></button>
                <button id="btn-40" class="button-room"><img id="btn-40" src="/templates/img/voice-40.png" alt=""
                        width="100"></button>
                <button id="btn-999" class="button-room"><img id="btn-999" src="/templates/img/voice-coffee.png" alt=""
                        width="100"></button>
                <button id="btn-777" class="button-room"><img id="btn-777" src="/templates/img/voice-question.png" alt=""
                        width="100"></button>

            </div>

            <div class="col-lg-2 text-left right-menu-room">
                <h3 class="name-right-menu text-center"><span>Party</span><i class="fa fa-thumb-tack" aria-hidden="true"></i></h3>
                <ul>

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 footer-container-results">
                <div class="results-voting">
                    <h3 class="text-center name-results-menu">
                        Voting results
                    </h3>
                    <table id="tb-results" class="text-left" align="center"></table>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-latest.js"
        integrity="sha512-2AL/VEauKkZqQU9BHgnv48OhXcJPx9vdzxN1JrKDVc4FPU/MEE/BZ6d9l0mP7VmvLsjtYwqiYQpDskK9dG8KBA=="
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>


    <script src="templates/js/main.js"></script>
    {{ .CreatorScripts}}
    <!-- Подключение скриптов js создателя-->


</body>

</html>